{% extends 'base.html' %}

{% block title %} Home {% endblock title %}  
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="container my-3">
<div class="jumbotron">
  <h1 class="display-4">Welocme to Tech blog!</h1>
  <p class="lead">This is a tech blog site, that provides you the technical solution in diffrent languages. here you can create your own technical blog</p>
  <hr class="my-4">
  <p>This blog created in django </p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Goto Blog</a>
</div>
</div>

{% endblock body %}